name: Build

on: 
  push:
    branches: 
      - '*'
      - '*/**'
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'ACKNOWLEDGEMENTS.md'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.github/workflows/publish.yml'

jobs:
  main:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [x64, arm64]
        compiler: [msvc, clang]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Build
      shell: bash
      run: |
          cmake -E make_directory out
          if [[ '${{ matrix.compiler }}' == 'clang' ]]; then
              VCPREFIX="C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Tools\\Llvm\\${{ matrix.platform }}\\bin"
              export "CC=$VCPREFIX\\clang-cl"
              export "CXX=$VCPREFIX\\clang-cl"
              EXTRA_ARGS=-GNinja
          else
              EXTRA_ARGS=-DCMAKE_GENERATOR_PLATFORM=${{ matrix.platform }}
          fi
          cmake -S . -B out $EXTRA_ARGS -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build out --target keep-awake --config RelWithDebInfo


    
