name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Get release Name
        uses: actions/github-script@v8
        with:
          script: |
            const tagName = context.ref.substring(context.ref.lastIndexOf('/') + 2)
            core.exportVariable('RELEASE_NAME', tagName)

      - name: Build
        run: |
          cmake -E make_directory out

          cmake -S . -B out/x64 -DCMAKE_GENERATOR_PLATFORM=x64 -DCMAKE_BUILD_TYPE=RelWithDebInfo 
          cmake --build out/x64 --target keep-awake --config RelWithDebInfo
          powershell Compress-Archive out/x64/RelWithDebInfo/keep-awake.exe out/keep-awake-${{ env.RELEASE_NAME }}-x64.zip

          cmake -S . -B out/arm64 -DCMAKE_GENERATOR_PLATFORM=arm64 -DCMAKE_BUILD_TYPE=RelWithDebInfo 
          cmake --build out/arm64 --target keep-awake --config RelWithDebInfo
          powershell Compress-Archive out/arm64/RelWithDebInfo/keep-awake.exe out/keep-awake-${{ env.RELEASE_NAME }}-arm64.zip

      - name: Update GitHub release documentation
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.RELEASE_NAME }}
          body: ...edit me...
          files: |
            out/keep-awake-${{ env.RELEASE_NAME }}-x64.zip
            out/keep-awake-${{ env.RELEASE_NAME }}-arm64.zip
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}